# Ignore bundler config.
/.bundle

# Ignore local rspec config.
/.rspec-local

# simplecov configuration
/.simplecov

# rpsec's code coverage.
/coverage

# Ignore Gemfile.lock.
/Gemfile.lock

# ignore env files used for tests
/spec/.env.test
.env

# ignore tmp folder
/tmp
